@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter.ttf") format("opentype");
  font-style: normal;
}

body {
  background-color: #f4f6fa;
  font-family: "Inter", sans-serif;
}

.burger {
  cursor: pointer;
  position: relative;
  display: flex;
  gap: 5px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.burger.open div:nth-child(1) {
  transform: rotate(45deg) translateY(10px);
}

.burger.open div:nth-child(2) {
  opacity: 0;
}
.burger.open div:nth-child(3) {
  transform: rotate(-45deg) translateY(-10px);
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.animate-float {
  animation: float 6s ease-in-out infinite;
}
.animate-float-slow {
  animation: float 10s ease-in-out infinite;
}
.animate-float-fast {
  animation: float 4s ease-in-out infinite;
}
